<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="stageRadiologie">
      <h2 data-cy="stageRadiologieDetailsHeading"><span>Stage Radiologie</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ stageRadiologie.id }}</span>
        </dd>
        <dt><span>Annee Etude</span></dt>
        <dd>
          <span>{{ stageRadiologie.anneeEtude }}</span>
        </dd>
        <dt><span>Date Debut</span></dt>
        <dd>
          <span>{{ stageRadiologie.dateDebut | formatMediumDate }}</span>
        </dd>
        <dt><span>Date Fin</span></dt>
        <dd>
          <span>{{ stageRadiologie.dateFin | formatMediumDate }}</span>
        </dd>
        <dt><span>Hopital</span></dt>
        <dd>
          <span>{{ stageRadiologie.hopital }}</span>
        </dd>
        <dt><span>Chef Service</span></dt>
        <dd>
          <span>{{ stageRadiologie.chefService }}</span>
        </dd>
        <dt><span>Semestre</span></dt>
        <dd>
          <span>{{ stageRadiologie.semestre }}</span>
        </dd>
        <dt><span>Groupe</span></dt>
        <dd>
          <span>{{ stageRadiologie.groupe }}</span>
        </dd>
        <dt><span>Objectif 1</span></dt>
        <dd>
          <span>{{ stageRadiologie.objectif1 }}</span>
        </dd>
        <dt><span>Objectif 1 Enseigne</span></dt>
        <dd>
          <span>{{ stageRadiologie.objectif1Enseigne }}</span>
        </dd>
        <dt><span>Is Objectif 1 Evalue</span></dt>
        <dd>
          <span>{{ stageRadiologie.isObjectif1Evalue }}</span>
        </dd>
        <dt><span>Note Objectif 1</span></dt>
        <dd>
          <span>{{ stageRadiologie.noteObjectif1 }}</span>
        </dd>
        <dt><span>Evaluation Objectif Par Objectif</span></dt>
        <dd>
          <span>{{ stageRadiologie.evaluationObjectifParObjectif }}</span>
        </dd>
        <dt><span>Evaluation Redaction Observation</span></dt>
        <dd>
          <span>{{ stageRadiologie.evaluationRedactionObservation }}</span>
        </dd>
        <dt><span>Evaluation Elaboration Resume</span></dt>
        <dd>
          <span>{{ stageRadiologie.evaluationElaborationResume }}</span>
        </dd>
        <dt><span>Evaluation Attitude Assiduite</span></dt>
        <dd>
          <span>{{ stageRadiologie.evaluationAttitudeAssiduite }}</span>
        </dd>
        <dt><span>Evaludation Validation Garde</span></dt>
        <dd>
          <span>{{ stageRadiologie.evaludationValidationGarde }}</span>
        </dd>
        <dt><span>Evaluation Periodique</span></dt>
        <dd>
          <span>{{ stageRadiologie.evaluationPeriodique }}</span>
        </dd>
        <dt><span>E COSM</span></dt>
        <dd>
          <span>{{ stageRadiologie.eCOSM }}</span>
        </dd>
        <dt><span>Total</span></dt>
        <dd>
          <span>{{ stageRadiologie.total }}</span>
        </dd>
        <dt><span>Is Absence Sup 10 Pc</span></dt>
        <dd>
          <span>{{ stageRadiologie.isAbsenceSup10pc }}</span>
        </dd>
        <dt><span>Is Valide</span></dt>
        <dd>
          <span>{{ stageRadiologie.isValide }}</span>
        </dd>
        <dt><span>Duree Stage Compl En Semaine</span></dt>
        <dd>
          <span>{{ stageRadiologie.dureeStageComplEnSemaine }}</span>
        </dd>
        <dt><span>Date Debut Stage Compl</span></dt>
        <dd>
          <span>{{ stageRadiologie.dateDebutStageCompl | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Date Fin Stage Compl</span></dt>
        <dd>
          <span>{{ stageRadiologie.dateFinStageCompl | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Is Stage Compl Valide</span></dt>
        <dd>
          <span>{{ stageRadiologie.isStageComplValide }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ stageRadiologie.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/stage-radiologie', stageRadiologie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
