<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-stage-radiologie-heading" data-cy="StageRadiologieCreateUpdateHeading">Editer un stage en Radiologie</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <br />
        <h4>Etudiant : {{ editForm.get('user')!.value?.firstName }} {{ editForm.get('user')!.value?.lastName }}</h4>
        <br />
        <div class="form-group">
          <label class="form-control-label" for="field_anneeEtude">Année d'étude</label>
          <select class="form-control" name="anneeEtude" formControlName="anneeEtude" id="field_anneeEtude" data-cy="anneeEtude">
            <option [ngValue]="null"></option>
            <option value="DCEM1">DCEM1</option>
            <option value="DCEM2">DCEM2</option>
            <option value="DCEM3">DCEM3</option>
          </select>
          <div *ngIf="editForm.get('anneeEtude')!.invalid && (editForm.get('anneeEtude')!.dirty || editForm.get('anneeEtude')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('anneeEtude')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dateDebut">Date de début</label>
          <div class="input-group">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="text"
              class="form-control"
              name="dateDebut"
              ngbDatepicker
              #dateDebutDp="ngbDatepicker"
              formControlName="dateDebut"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dateFin">Date de fin</label>
          <div class="input-group">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="text"
              class="form-control"
              name="dateFin"
              ngbDatepicker
              #dateFinDp="ngbDatepicker"
              formControlName="dateFin"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_hopital">Hôpital</label>
          <select class="form-control" name="hopital" formControlName="hopital" id="field_hopital" data-cy="hopital">
            <option [ngValue]="null"></option>
            <option value="CharlesNicolle">Charles Nicolle</option>
            <option value="MongiSlim">Mongi Slim</option>
            <option value="HabibThameur">Habib Thameur</option>
            <option value="AzizaOthmana">Aziza Othmana</option>
            <option value="LaRabta">La Rabta</option>
            <option value="SalahAzaiez">Salah Azaiez</option>
            <option value="HopitalEnfants">Hôpital d&#39;Enfants</option>
            <option value="Razi">Razi</option>
          </select>
          <div *ngIf="editForm.get('hopital')!.invalid && (editForm.get('hopital')!.dirty || editForm.get('hopital')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('hopital')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_chefService">Chef de Service</label>
          <input
            type="text"
            class="form-control"
            name="chefService"
            id="field_chefService"
            data-cy="chefService"
            formControlName="chefService"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_semestre">Semestre</label>
          <input type="text" class="form-control" name="semestre" id="field_semestre" data-cy="semestre" formControlName="semestre" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_groupe">Groupe</label>
          <input type="text" class="form-control" name="groupe" id="field_groupe" data-cy="groupe" formControlName="groupe" />
        </div>

        <div><b>Objectifs relatifs à l'habileté technique :</b></div>
        <br />
        <div>
          <b>1.</b> Relever, à partir de l’interrogatoire du patient et des renseignements fournis par le clinicien :<br />
          -les risques liés à l’utilisation des rayons X,<br />
          -les risques liés à l’utilisation des produits de contraste iodés et gadolinés,<br />
          -les contre indications à la réalisation d’une IRM.<br />
        </div>
        <br />
        <div class="form-group">
          <label class="form-control-label" for="field_evaluationObjectif1Etudiant"> Enseigné : </label>
          <select
            class="form-control"
            name="evaluationObjectif1Etudiant"
            formControlName="evaluationObjectif1Etudiant"
            id="field_evaluationObjectif1Etudiant"
            data-cy="evaluationObjectif1Etudiant"
          >
            <option [ngValue]="null"></option>
            <option value="NoDemo">Pas de démonstration</option>
            <option value="Simule">Simulé</option>
            <option value="Realise">Réalisé</option>
          </select>
        </div>

        <div class="form-group" *jhiHasAnyAuthority="'ROLE_ENCADRANT_REFERENT'">
          <label class="form-control-label" for="field_noteObjectif1EncadrantReferent">Note</label>
          <select
            class="form-control"
            name="noteObjectif1EncadrantReferent"
            formControlName="noteObjectif1EncadrantReferent"
            id="field_noteObjectif1EncadrantReferent"
            data-cy="noteObjectif1EncadrantReferent"
          >
            <option [ngValue]="null"></option>
            <option value="NonAcquis">Non acquis</option>
            <option value="EnCoursAquisition">En cours d’acquisition</option>
            <option value="Acquis">Acquis</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Enregistrer</span>
        </button>
      </div>
    </form>
  </div>
</div>
